/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
/* ------------------------------------------------------------------------------- */
/* custom scroll bar start*/
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #6e5a7b;
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(64, 163, 194);
  }
  /* custom scroll bar end*/

/* ------------------------------------------------------------------------------- */

/* start background  */
body {
  margin: 0;
}

.background {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -20deg,
    rgb(0, 0, 0) 50%,
    rgb(255, 140, 63) 50%
  );
  bottom: 0;
  left: -100%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.background-content {
  border-radius: 0.25em;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
/* end background */

/* ------------------------------------------------------------------------------- */

/* nav bar start  */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .name-logo a {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
  }
  .navbar .name-logo a span {
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .navbar .menu li {
    list-style: none;
    display: inline-block;
  }
  .navbar .menu li a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }
  .navbar .menu li a:hover {
    color: rgb(0, 0, 0);
  }
  /* nav bar end  */

/* ------------------------------------------------------------------------------- */

/* home section start  */
.home {
    display: flex;
  
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
  }
  
  .home .max-width {
    width: 100%;
    display: flex;
  }
  .home .max-width .row {
    margin-right: 0;
  }
  .home .home-content .text-1 {
    font-size: 27px;
    color: rgb(255, 255, 255);
  }
  .home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: rgb(0, 0, 0);
  }
  .home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
    color: #ffffff;
  }
  .home .home-content .text-3 span {
      font-size: 60px;
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 106, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  .home .home-content a {
    display: inline-block;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 7px 30px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .home .home-content a:hover {
      background:  rgb(255, 255, 255) ;
    border: 1px solid  rgb(0, 0, 0);
    color: black;
  }
  /* home section end  */

  /* ------------------------------------------------------------------------------- */

/* about section start  */
.about .title::after {
    content: "who I am";
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
  }
  .about .about-content .left {
    width: 45%;
  }
  .about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
  .about .about-content .right {
    width: 55%;
  }
  .about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000000;
  }
  .about .about-content .right .text span {
    /* color: rgb(139, 74, 0); */
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 106, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  .about .about-content .right p {
    text-align: justify;
    color: white;
  }
  .about .about-content .right a {
    display: inline-block;
    background: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    padding: 7px 30px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .about .about-content .right a:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
  }

  /* about section end  */

/* ------------------------------------------------------------------------ */

  /* skills section start  */
.skills .title::after {
    content: "what i know";
    background: #000000;
    color: white;
  }
  .skills .skills-content .column {
    width: calc(50% - 30px);
  }
  .skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .skills .skills-content .left p {
    text-align: justify;
    color: #ffffff;
  }
  .skills .skills-content .left a {
    display: inline-block;
    background: rgb(0, 0, 0);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .skills .skills-content .left a:hover {
    color: rgb(0, 0, 0);
    background: white;
    border: 1px solid black;
  }

  .skills .skills-content .right .info {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .skills .skills-content .right span {
    font-weight: 500;
    font-size: 20px;
    color:  rgb(0, 0, 0);
  }
  
  /* skills section end  */

  /* ----------------------------------------------------------------- */

  /* contact section start  */
.contact .title::after {
    content: "get in touch";
  }
  .contact .contact-content .column {
    width: calc(50% - 30px);
  }
  .contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .contact .contact-content .left p {
    text-align: justify;
    color: #fff;
  }
  .contact .contact-content .left .icons {
    margin: 10px 0;
  }
  .contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
  }
  .contact .contact-content .row .info {
    margin-left: 30px;
  }
  .contact .contact-content .row i {
    font-size: 25px;
    color: rgb(255, 133, 45);
  }
  .contact .contact-content .info .head {
    font-weight: 500;
    color: rgb(255, 133, 45)
  }
  .contact .contact-content .info .sub-title {
    color:  rgb(255, 255, 255);
  }